@tailwind utilities;
@tailwind base;
@tailwind components;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font: bold 2rem Georgia, serif;
  margin-bottom: 1.5rem;
}

h2 {
  font: 1rem Verdana, serif;
}
